<table class="table  table-bordered table-hover">
        <thead>
        <tr>
           <th>Student</th>
           <th>Score</th>
            <% for (var c in data[Object.keys(data)[0]].Path) { %>
            <% if (data[Object.keys(data)[0]].Path[c]!==null) { %>
            <th>Question <%= data[Object.keys(data)[0]].Path[c].QuestionID %></th>
            <% } %>
             <% } %>
        </tr>
        </thead>
        <tbody>
        <% for (var c in data) { %>
        <tr>
          <td> <%= data[c].Name %>
          </td>
          <td> <%= data[c].TotalScore %></td>

          <% for (var d in data[c].Path) { %>
              <% if (data[c].Path[d]!==null) { %>
            <td class =<%= data[c].Path[d].State %> ><%= data[c].Path[d].choosen_answer %></td>
            <% } %>
             <% } %>
        </tr>
        <% } %>
        
        </tbody>
      </table>